
.container {
    background-color: rgb(29, 32, 39);
}


.conjunto {
    background-color: red;
}
.montana1 {
    padding: 20px;
    background-image: url(img/montaña.png);
    background-color: red;
}

.montana2 {
    background-image: url(img/montaña2.png);
}